<%# 메시지 추가 (Turbo Stream) %>
<%= turbo_stream.append "messages", partial: "messages/message", locals: { message: @message } %>

<%# UI 업데이트를 위한 JavaScript %>
<%= turbo_stream.replace "message-form-script" do %>
  <div id="message-form-script" style="display: none;">
    <script>
      // 중복 방지를 위한 메시지 ID 저장
      if (!window.processedMessageIds) window.processedMessageIds = new Set();
      window.processedMessageIds.add(<%= @message.id %>);
      window.currentUserId = <%= current_user.id %>;
      
      // 스크롤 및 입력 필드 초기화
      document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
      document.querySelector('input[name="message[content]"]').value = '';
    </script>
  </div>
<% end %>